<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel="icon" type="image/x-icon" th:href="@{/icon/my.ico}" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link href="assets/css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="css/style.css"/>
    <link href="assets/css/codemirror.css" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/ace.min.css"/>
    <link rel="stylesheet" href="assets/css/font-awesome.min.css"/>

    <link th:href="@{/admin/assets/css/bootstrap.min.css}" rel="stylesheet"/>
    <link rel="stylesheet" th:href="@{/admin/assets/css/font-awesome.min.css}"/>
    <link rel="stylesheet" th:href="@{/admin/assets/css/ace.min.css}"/>
    <link rel="stylesheet" th:href="@{/admin/assets/css/ace-rtl.min.css}"/>
    <link rel="stylesheet" th:href="@{/admin/assets/css/ace-skins.min.css}"/>
    <link rel="stylesheet" th:href="@{/admin/css/style.css}"/>

    <script th:src="@{/admin/assets/js/ace-extra.min.js}"></script>
    <script th:src="@{/admin/js/jquery-1.9.1.min.js}"></script>
    <script th:src="@{/admin/assets/js/bootstrap.min.js}"></script>
    <script th:src="@{/admin/assets/js/typeahead-bs2.min.js}"></script>
    <script th:src="@{/admin/assets/js/ace-elements.min.js}"></script>
    <script th:src="@{/admin/assets/js/ace.min.js}"></script>
    <script th:src="@{/admin/assets/layer/layer.js}" type="text/javascript"></script>
    <script th:src="@{/admin/assets/laydate/laydate.js}" type="text/javascript"></script>
    <script th:src="@{/admin/assets/js/jquery.min.js}"></script>
    <script th:src="@{/admin/assets/js/jquery.dataTables.min.js}"></script>
    <script th:src="@{/admin/assets/js/jquery.dataTables.bootstrap.js}"></script>
    <script type="text/javascript" th:src="@{/admin/js/H-ui.js}"></script>
    <script type="text/javascript" th:src="@{/admin/js/H-ui.admin.js}"></script>
    <script th:src="@{/js/change.js}" type="text/javascript"></script>
    <title>用户管理</title>
</head>

<body><div th:include="admin/index_top"></div>

<div class="main-content" style="margin-bottom: 100px">
    <!-- Infomation_header -->
    <div class="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="icon-home home-icon"></i>
                <a th:href="@{/admin/index}">首页</a>
            </li>
        </ul>
    </div>
            <div class="page-content clearfix">
                <div id="Member_Ratings">
                    <div class="d_Confirm_Order_style">

                        <!---->
                        <div class="table_menu_list">
                            <table class="table table-striped table-bordered table-hover" id="sample-table">
                                <thead>
                                <tr>
                                    <th width="80">用户编号</th>
                                    <th width="100">用户名</th>
                                    <th width="120">手机</th>
                                    <th width="150">邮箱</th>
                                    <th width="180">加入时间</th>
                                    <th width="250">操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="user ,item: ${userList}">
                                    <td th:text="${user.id}"></td>
                                    <td><u style="cursor:pointer" class="text-primary" th:onclick="'user_view('+${item.index}+')'" th:text="${user.loginName}"></u></td>
                                    <td th:text="${user.phone}"></td>
                                    <td th:text="${user.email}"></td>
                                    <td th:text="${user.registerTime}"></td>
                                    <td class="td-manage">
                                        <a title="编辑" th:onclick="'member_edit('+${item.index}+')'" href="javascript:;"
                                           class="btn btn-xs btn-info"><i class="icon-edit bigger-120"></i></a>
                                        <a title="删除" href="javascript:;" th:onclick="'member_del(this,'+${item.index}+')'"
                                           class="btn btn-xs btn-warning"><i class="icon-trash  bigger-120"></i></a>
                                    </td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!--编辑用户图层-->

            <div id="updateuser" style="display:none">
                <div class="content_style">

                    <div class="clearfix" id="add_picture">
                        <form th:action="@{/admin/updateUser}" method="post" class="form form-horizontal" id="form-article-add" onsubmit="return register_form(this)">
                            <div class=" clearfix cl">
                                <div class="Add_p_s">
                                    <label class="form-label col-2">用户编号：</label>
                                    <div class="formControls col-2">
                                        <input type="text" class="input-text" value="" placeholder="" id="userId" name="userId" readonly></div>
                                </div>
                            </div>

                            <div class=" clearfix cl">
                                <div class="Add_p_s">
                                    <label class="form-label col-2">用&nbsp;&nbsp;户&nbsp;&nbsp;名：</label>
                                    <div class="formControls col-2">
                                        <input type="text" class="input-text" value="" placeholder="" id="userName" name="userName"
                                               onblur="register_wrong(this,'loginRight','loginWrong','loginWrongText')"></div>
                                </div>
                                <div><img alt="" id="loginRight" th:src="@{/images/yes.png}" style="display:none;">
                                    <img alt="" id="loginWrong" th:src="@{/images/no.png}" style="display: none;">
                                    <a style="font-size: 13px; color: red;" id="loginWrongText"></a></div>
                            </div>
                            <div class=" clearfix cl">
                                <div class="Add_p_s">
                                    <label class="form-label col-2">昵&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;称：</label>
                                    <div class="formControls col-2"><input type="text" class="input-text" value="" placeholder="" id="callName" name="callName"
                                                                           onblur="register_wrong(this,'userRight','userWrong','userWrongText')"></div>
                                </div>
                                <div>
                                    <img alt="" id="userRight" th:src="@{/images/yes.png}" style="display: none;">
                                    <img alt="" id="userWrong" th:src="@{/images/no.png}" style="display: none;">
                                    <a style="font-size: 13px; color: red;" id="userWrongText"></a>
                                </div>
                            </div>
                            <div class=" clearfix cl">
                                <div class="Add_p_s">
                                    <label class="form-label col-2">密&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;码：</label>
                                    <div class="formControls col-2"><input type="text" class="input-text" value="" placeholder="" id="passWord" name="passWord"
                                                                           onblur="register_wrong(this,'passwordRight','passwordWrong','passwordWrongText')"></div>
                                </div>
                                <div>
                                    <img alt="" id="passwordRight" th:src="@{/images/yes.png}" style="display: none;">
                                    <img alt="" id="passwordWrong" th:src="@{/images/no.png}" style="display: none;">
                                    <a style="font-size: 13px; color: red;" id="passwordWrongText"></a>
                                </div>
                            </div>
                            <div class=" clearfix cl">
                                <div class="Add_p_s">
                                    <label class="form-label col-2">手机号码：</label>
                                    <div class="formControls col-2"><input type="text" class="input-text" value="" placeholder="" id="tel" name="tel"
                                                                           onblur="register_wrong(this,'phoneRight','phoneWrong','phoneWrongText')"></div>
                                </div>
                                <div>
                                    <img alt="" id="phoneRight" th:src="@{/images/yes.png}" style="display: none;">
                                    <img alt="" id="phoneWrong" th:src="@{/images/no.png}" style="display: none;">
                                    <a style="font-size: 13px; color: red;" id="phoneWrongText"></a>
                                </div>
                            </div>
                            <div class=" clearfix cl">
                                <div class="Add_p_s">
                                    <label class="form-label col-2">邮箱地址：</label>
                                    <div class="formControls col-2"><input type="text" class="input-text" value="" placeholder="" id="email" name="email"
                                                                           onblur="register_wrong(this,'emailRight','emailWrong','emailWrongText')"></div>
                                </div>
                                <div>
                                    <img alt="" id="emailRight" th:src="@{/images/yes.png}" style="display: none;">
                                    <img alt="" id="emailWrong" th:src="@{/images/no.png}" style="display: none;">
                                    <a style="font-size: 13px; color: red;" id="emailWrongText"></a>
                                </div>
                            </div>
                            <div class=" clearfix cl">
                                <div class="Add_p_s">
                                    <label class="form-label col-2">密保问题：</label>
                                    <div class="formControls col-2"><input type="text" class="input-text" value="" placeholder="" id="question" name="question"
                                                                           onblur="register_wrong(this,'questionRight','questionWrong','questionWrongText')"></div>
                                </div>
                                <div>
                                    <img alt="" id="questionRight" th:src="@{/images/yes.png}" style="display: none;">
                                    <img alt="" id="questionWrong" th:src="@{/images/no.png}" style="display: none;">
                                    <a style="font-size: 13px; color: red;" id="questionWrongText"></a>
                                </div>
                            </div>
                            <div class=" clearfix cl">
                                <div class="Add_p_s">
                                    <label class="form-label col-2">密保答案：</label>
                                    <div class="formControls col-2"><input type="text" class="input-text" value="" placeholder="" id="answer" name="answer"
                                                                           onblur="register_wrong(this,'answerRight','answerWrong','answerWrongText')"></div>
                                </div>
                                <div>
                                    <img alt="" id="answerRight" th:src="@{/images/yes.png}" style="display: none;">
                                    <img alt="" id="answerWrong" th:src="@{/images/no.png}" style="display: none;">
                                    <a style="font-size: 13px; color: red;" id="answerWrongText"></a>
                                </div>
                            </div>
                            <input type="hidden" id="registerTime" name="registerTime" value="">
                            <div class="clearfix cl">
                                <div class="Button_operation">
                                    <button class="btn btn-primary radius"
                                            type="submit" id="submitbt" name="submitbt">
                                        <i class="icon-save "></i>保存
                                    </button>
                                    <button onClick="layer_close();" class="btn btn-default radius" type="button"> 取消
                                    </button>
                                </div>
                            </div>


                        </form>
                    </div>

                </div>
            </div>


            <!--用户详情-->
            <div id="user" style="display:none">
                <div class="content_style">
                    <div class="member_show">
                        <div class="member_jbxx clearfix">
                            <img class="img" src="images/user.png">
                            <dl class="right_xxln">
                                <dt>用户名:<span id="viewLoginName"></span> </dt>
                                <dd style="margin-left:0" >编号:<span class="" id="viewUserId"></span></dd>
                            </dl>
                        </div>
                        <div class="member_content">
                            <ul>
                                <li><label class="label_name" >昵&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;称：</label><span
                                        class="name" id="viewUserName"></span></li>
                                <li><label class="label_name" >密&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;码：</label><span
                                        class="name" id="viewPassword"></span></li>
                                <li><label class="label_name" >手&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;机：</label><span
                                        class="name" id="viewPhone"></span></li>
                                <li><label class="label_name" >邮&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;箱：</label><span
                                        class="name" id="viewEmail"></span></li>
                                <li><label class="label_name">注册时间：</label><span class="name" id="viewRegisterTime"></span></li>
                                <li><label class="label_name">密保问题：</label><span class="name" id="viewQuestion"></span></li>
                                <li><label class="label_name">密保答案：</label><span class="name" id="viewAnswer"></span></li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--footer-->
<div class="footer_style" id="footerstyle">
    <p class="l_f" th:text="${'版权所有&copy;'+company.compName +'&nbsp;&nbsp;&nbsp;&nbsp;'+company.batch}"></p>
</div>
<!--/footer-->

<input type="hidden" th:value="${contextPath}" id="contextPath">
<script th:inline="javascript">
    jQuery(function ($) {
        var oTable1 = $('#sample-table').dataTable({
            "aaSorting": [
                [1, "desc"]
            ],//默认第几个排序
            "bStateSave": true,//状态保存
            "aoColumnDefs": [
                //{"bVisible": false, "aTargets": [ 3 ]} //控制列的隐藏显示
                {"orderable": false, "aTargets": [1,2,3,5]}// 制定列不参与排序
            ]
        });


        $('table th input:checkbox').on('click', function () {
            var that = this;
            $(this).closest('table').find('tr > td:first-child input:checkbox')
                .each(function () {
                    this.checked = that.checked;
                    $(this).closest('tr').toggleClass('selected');
                });

        });


        $('[data-rel="tooltip"]').tooltip({placement: tooltip_placement});

        function tooltip_placement(context, source) {
            var $source = $(source);
            var $parent = $source.closest('table')
            var off1 = $parent.offset();
            var w1 = $parent.width();

            var off2 = $source.offset();
            var w2 = $source.width();

            if (parseInt(off2.left) < parseInt(off1.left) + parseInt(w1 / 2)) return 'right';
            return 'left';
        }
    })

    /*用户-查看*/
    function user_view(count) {
        var user = [[ ${userList} ]][count];
        document.getElementById("viewLoginName").innerHTML=user.loginName;
        document.getElementById("viewUserId").innerHTML=user.id;
        document.getElementById("viewUserName").innerHTML=user.userName;
        document.getElementById("viewPassword").innerHTML=user.password;
        document.getElementById("viewPhone").innerHTML=user.phone;
        document.getElementById("viewEmail").innerHTML=user.email;
        document.getElementById("viewRegisterTime").innerHTML=user.registerTime;
        document.getElementById("viewQuestion").innerHTML=user.question;
        document.getElementById("viewAnswer").innerHTML=user.answer;
        var index = layer.open({
            type: 1,
            title: '用户信息',
            maxmin: true,
            shadeClose: false,
            area: [(document.body.clientWidth * 0.9) + 'px', ''],
            content: $('#user'),
            btn: ['确定']
        })
    };

    /*用户-编辑*/
    function member_edit(count) {
        var user = [[ ${userList} ]][count];

        document.getElementById("userId").value=user.id;

         document.getElementById("userName").value=user.loginName;
        document.getElementById("callName").value=user.userName;
        document.getElementById("passWord").value=user.password;
        document.getElementById("tel").value=user.phone;
        document.getElementById("email").value=user.email;
        document.getElementById("question").value=user.question;
        document.getElementById("answer").value=user.answer;
        document.getElementById("registerTime").value=user.registerTime;

        document.getElementById("loginWrong").style.display = "none";
        document.getElementById("loginRight").style.display = "none";
        document.getElementById("loginWrongText").style.display = "none";
        document.getElementById("userWrong").style.display = "none";
        document.getElementById("userRight").style.display = "none";
        document.getElementById("userWrongText").style.display = "none";
        document.getElementById("passwordWrong").style.display = "none";
        document.getElementById("passwordRight").style.display = "none";
        document.getElementById("passwordWrongText").style.display = "none";
        document.getElementById("phoneWrong").style.display = "none";
        document.getElementById("phoneRight").style.display = "none";
        document.getElementById("phoneWrongText").style.display = "none";
        document.getElementById("emailWrong").style.display = "none";
        document.getElementById("emailRight").style.display = "none";
        document.getElementById("emailWrongText").style.display = "none";
        document.getElementById("questionWrong").style.display = "none";
        document.getElementById("questionRight").style.display = "none";
        document.getElementById("questionWrongText").style.display = "none";
        document.getElementById("answerWrong").style.display = "none";
        document.getElementById("answerRight").style.display = "none";
        document.getElementById("answerWrongText").style.display = "none";

        layer.open({
            type: 1,
            title: '修改用户信息',
            maxmin: true,
            shadeClose: false, //点击遮罩关闭层
            area: [(document.body.clientWidth * 0.9) + 'px', ''],
            content: $('#updateuser'),
        });
    }

    /*用户-删除*/
    function member_del(obj, count) {
        let contextPath = $('#contextPath').val()
        layer.confirm('确认要删除吗？', function (index) {
            $.ajax({
                type: "get",// 请求方式
                url: contextPath+"/admin/deleteUser",
                async: true,
                data: {
                    "userId":[[${userList}]][count].id
                },
                dataType: "json",// 设置返回数据类型
                success: function (sign) {
                    if (sign.valueOf() == "1") {
                        $(obj).parents("tr").remove();
                        layer.msg('已删除!', {icon: 1, time: 1000});
                        window.location.reload();
                    } else {
                        layer.msg('删除失败!', {icon: 2, time: 1000});
                    }
                },
                error: function (XMLHttpRequest, statusText) {
                    alert("系统异常!")
                }
            })

        });
    }

    laydate({
        elem: '#start',
        event: 'focus'
    });
function layer_close() {
    layer.closeAll();
}
</script>
</body>
</html>
